{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'docxmerge/css/resume_make.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var frm = $('#submit-form');
        $(document).on('click', '#submit-btn', function() {
            $('.resumeDiv').hide();
            $('.loading').show();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(response){
                    // alert(response.message);
                },
                error: function(request, status, error){
                    alert("알 수 없는 에러");
                    window.location.replace("/users/login/");
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        });
    </script>
        
    <script>
        $(document).ready(function(){
            $('.page-title').addClass('title-trans');
        })
    </script>
</head>
<body>
    <strong class="page-title">정보입력</strong>
    <form id="submit-form" method="POST" action="{% url 'docxmerge:make' %}">
        <table id="form-table">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
        </table>
        <button class="btn btn-light-custom" type="submit">제출</button>
    </form>
    <br>
    <hr class="line">
    <div class="container loading"></div>
</body>
</html>
{% endblock %}