{% extends 'base.html' %}
{% block contents %}

{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이옷 | Login</title>
    <link rel='stylesheet' type='text/css' href="{% static 'users/account/css/account.css' %}">
    <script>
        $(document).ready(function(){
            $('.account-title').addClass('title-trans');
        })
    </script>
</head>
<body>
    <strong class="account-title">로그인</strong>
    <center>
        <div class ="account-form-box">
            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                    <!-- <table>
                        <tr>
                            <td>
                                <input class="input-login" name="login" type="email" placeholder="Email address" >
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="input-login" name="password" type="password" placeholder="Password">
                            </td>
                        </tr>
                    <br><br>
                    
                    </table> -->
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br>
                    <button  class="btn btn-light"  type="submit">로그인</button>
                </form>
            <br>
            <hr class="line">
            <p class ="go-signup">
                <h6><a class="link" href="{% provider_login_url 'google' %}">구글 로그인</a></h6>
                <h6><a class="link" href="{% url 'users:account_signup' %}">회원가입</a></h6>
            </p>
            <br>
        </div>
    </center>
</body>
</html>

{% endblock %}